@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=DM+Serif+Text&family=Inter&family=Kalam:wght@700&family=Montserrat&family=Nosifer&family=Playfair+Display&family=Poppins&family=Roboto+Slab&family=Sofia+Sans+Condensed&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  background: #252b42;
}
